* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: #1A1110;
  color: #ffffff;
  text-align: center;
  font-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding: 20px;
}

.thumbnail {
  box-shadow: 5px 10px 20px black;
}

.logo {
  display: flex;
  align-items: center;
  margin: 1.5rem;
}

.image {
  margin-right: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto Flex', sans-serif;
}

.heading {
  font-size: 2rem;
  font-family: 'Roboto Flex', sans-serif;
  margin: 2rem 0;
}

.download-container {
  flex: 1;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h6 {
  margin-top: 0.25rem;
  font-size: 1.5rem;
  font-family: 'Roboto Flex', sans-serif;
}

p {
  text-align: left;
  margin-top: 0.75rem;
  color: black;
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 1.25rem;
  font-family: 'Roboto Flex', sans-serif;
  background-color: white;
  padding: 10px;
}

.submit-button {
  background-color: #20C420;
  color: #ffffff;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 19px;
  padding-bottom: 11.5px;
  font-size: 1.5rem;
  width: 30%;
  font-family: 'Roboto Flex', sans-serif;
  cursor: pointer;
}

.container-button {
  border-radius: 20px;
  padding-left: 5px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  background-color: #fff;
  
}

.submit-button:active {
  transform: translateY(0.45px);
}
.submit-button:hover{
  background:#00a200;
}

.loader-overlay {
  display: none;
  width: 40%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.loader-box {
  background: #fff; 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.loader-box .loader {
  margin: 0 auto 20px; 
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


 @media (max-width: 768px) {
  .title {
      font-size: 1.5rem;
  }
  .container-button {
    width: 85%;
  
}

  .heading {
      font-size: 2rem;
  }

  p {
      font-size: 1.15rem;
  }

  .submit-button {
      font-size: 1.25rem;
      padding:17px;
  }
} 

@media (max-width: 480px) {
  .container-button {
      flex-direction: column;
      align-items: flex-start;
      padding: 0%;
  }

  p {
      width: 100%;
      border-radius: 20px 20px 0 0;
      text-align: center;
  }

  .submit-button {
      width: 100%;
      border-radius: 0 0 20px 20px;
      padding-left: 19px;
  }
  .loader-overlay {
  
    top: 105%;
  }
  
}
